.svgcontain{
    position: relative;
    top: 244px;
    right: 80px;
}
.svgcontainafter {
   
    position: absolute;
    right: 5%;
    top: 187px;
}
.slick-dots {
    bottom: 264px; /* Adjust this value as needed */
  }
  :where(.css-dev-only-do-not-override-dkbvqv).ant-carousel .slick-dots-bottom{
    bottom: 264px; /* Adjust this value as needed */

  }
  :where(.css-dev-only-do-not-override-dkbvqv).ant-carousel{
    width: 90%;
    margin-left: auto;
  }
/* .review_contain{
    background-color: white;
    width: 553px;
    height: 403px;
} */
.right_side{
    width: 45%;
}
@media screen and (max-width: 996px) {
    .right_side{
        width: 100%;
    }
}
@media screen and (max-width: 1440px) {
    .svgcontain{
        right: 50px;
    }
    .svgcontainafter{
        display: none;
    }

}
@media screen and (max-width: 1200px) {
    .svgcontain{
        top: 400px;
    }
    .feedback-content .title{
        font-size: 32px;
    }
    
 .svgcontainafter {
   display: none;
}
}